{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
